.modal-shiftfix
  // Navigation
  .navbar.navbar-fixed-top.scroll-hide
    .container-fluid.top-bar
      button.navbar-toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo(href='index.html') aGViz
    .container-fluid.main-nav.clearfix
      .nav-collapse
        ul.nav
          li
            a.current(href='index.html')
              span.se7en-home(aria-hidden='true')
              | Dashboard
          li
            a(href='social.html')
              span.se7en-feed(aria-hidden='true')
              | Social Feed
          li.dropdown
            a(data-toggle='dropdown', href='#')
              span.se7en-star(aria-hidden='true')
              | UI Features
              b.caret
            ul.dropdown-menu
              li
                a(href='buttons.html')
                  span.notifications.label.label-warning New
                  p
                    | Buttons
              li
                a(href='fontawesome.html')
                  span.notifications.label.label-warning New
                  p
                    | Font Awesome Icons
              li
                a(href='glyphicons.html')
                  span.notifications.label.label-warning New
                  p
                    | Glyphicons
              li
                a(href='components.html') Components
              li
                a(href='widgets.html') Widgets
              li
                a(href='typo.html') Typography
              li
                a(href='grid.html') Grid Layout
          li.dropdown
            a(data-toggle='dropdown', href='#')
              span.se7en-forms(aria-hidden='true')
              | Forms
              b.caret
            ul.dropdown-menu
              li
                a(href='form-components.html') Form Components
              li
                a(href='form-advanced.html') Advanced Forms
              li
                a(href='xeditable.html')
                  span.notifications.label.label-warning New
                  p
                    | X-Editable
              li
                a(href='file-upload.html')
                  .notifications.label.label-warning
                    | New
                  p
                    | Multiple File Upload
              li
                a(href='dropzone-file-upload.html')
                  .notifications.label.label-warning
                    | New
                  p
                    | Dropzone File Upload
          li.dropdown
            a(data-toggle='dropdown', href='#')
              span.se7en-tables(aria-hidden='true')
              | Tables
              b.caret
            ul.dropdown-menu
              li
                a(href='tables.html') Basic tables
              li
                a(href='datatables.html') DataTables
              li
                a(href='datatables-editable.html')
                  .notifications.label.label-warning
                    | New
                  p
                    | Editable DataTables
          li
            a(href='charts.html')
              span.se7en-charts(aria-hidden='true')
              | Charts
          li.dropdown
            a(data-toggle='dropdown', href='#')
              span.se7en-pages(aria-hidden='true')
              | Pages
              b.caret
            ul.dropdown-menu
              li
                a(href='chat.html')
                  span.notifications.label.label-warning New
                  p
                    | Chat
              li
                a(href='calendar.html') Calendar
              li
                a(href='timeline.html')
                  span.notifications.label.label-warning New
                  p
                    | Timeline
              li
                a(href='login1.html')
                  span.notifications.label.label-warning New
                  p
                    | Login 1
              li
                a(href='login2.html') Login 2
              li
                a(href='signup1.html')
                  span.notifications.label.label-warning New
                  p
                    | Sign Up 1
              li
                a(href='messages.html')
                  span.notifications.label.label-warning New
                  p
                    | Messages/Inbox
              li
                a(href='pricing.html')
                  span.notifications.label.label-warning New
                  p
                    | Pricing Tables
              li
                a(href='signup2.html') Sign Up 2
              li
                a(href='invoice.html')
                  span.notifications.label.label-warning New
                  p
                    | Invoice
              li
                a(href='faq.html')
                  span.notifications.label.label-warning New
                  p
                    | FAQ
              li
                a(href='filters.html') Filter Results
              li
                a(href='404-page.html') 404 Page
              li
                a(href='500-page.html')
                  span.notifications.label.label-warning New
                  p
                    | 500 Error
          li
            a(href='gallery.html')
              span.se7en-gallery(aria-hidden='true')
              | Gallery
  // End Navigation